<html>
 <head>
<title>Shadowy Inspiration</title>
 </head>
 <body>
  <center>
  <h1>Shadowy Inspiration </h1>
  <h2>Running on {{ ansible_host }}</h1>
  <img src= {{ s3_address }}></img>
  <h3>Members:</h3>
  <h4>Ameya Mangesh Kokatay</h4>
  <h4>Isaiah Cyrus Majam</h4>
  <h4>Jasmine Basal</h4>
  <h4>Orrin Washington Reid</h4>
  <h4>Ranjith Manian</h4>
  <center>
 </body>
<html>